.top-bar {
  width: 375px;
  height: 34px;
  background-color: blue;
}

.container {
  width: 375px;
  height: 6715px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
}

.nav {
  list-style-type: none;
  display: flex;
  border: solid 1px green;
  justify-content: space-between;
}

li {
  border: solid 1px black;
}

.title {
  background-color: forestgreen;
  width: 327px;
  height: 193px;
  text-align: center;
  font-size: 40px;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(41, 45, 38);
  flex-direction: column;
}

#colored-text {
  color: rgb(91, 215, 132);
}

.description {
  width: 327px;
  height: 164px;
  background-color: blueviolet;
  display: flex;
  text-align: center;
  font-size: 20px;
  align-items: center;
}

.logos {
  background-color: chocolate;
}

.sotial-logo {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
